img{
     height: 110px;
     width: 110px;
     
    ;
}
body{
    background-color: antiquewhite;
    width: 100%;
}
h1{
    text-align:center;
    flex-direction: column;
    height: 30px;
    


}
p{
    text-align: center;
    

}
hr{
    width: 50%;
    margin: auto;
    border: 1px solid black;
}